.d-flex {
  display: flex;
}
.d-flexSet {
  display: flex;
  flex-wrap: wrap;
  &__gutter {
    padding-left: $gutter;
    padding-right: $gutter;
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.fxd-c {
  flex-direction: column;
}
.fxd-rr {
  flex-direction: row-reverse;
}
.fx-jcc {
  justify-content: center;
}
.fx-jsb {
  justify-content: space-between;
}
.fx-alc {
  align-items: center
}
.fx-alfe {
  align-items: flex-end
}